/* reset */
* {
	margin: 0; padding: 0; box-sizing: border-box;
}

body {
	font: 23px Helvetica, Arial;
}

.text{
	width: 960px;
	margin: 0 auto;
	display: block;
}



form {
	  border: 10px solid #343a51;
	  // bottom: 0;
	  height: 60px;
	  left: 0;
	  outline: none;
	  position: absolute;
	  right: 0;
	  width: 100%;


	input {
		border: 0;
		padding: 10px;
		width: 100%;
		height: 100%;
		margin-right: 0.5%;
		border-radius: 5px;
		font: 16px Helvetica, Arial;

	}

	input::placeholder{
		font: 13px Helvetica, Arial;
	}

	button {
		width: 28%;
		background: white;
		padding: 10px;
		border-radius: 5px;
		position: absolute;
		cursor: pointer;
	}
	button:hover{
		background: #343a51;
		transition: 0.2s;
	}
	button{
		font-size: 12px;
	}
}

.chatRoom{
	width: 500px;
	height: 0;
	margin-top: 100px;
	position: fixed;
	overflow-x: hidden;
	transition: 0.5s;
	right: 20px;
	bottom: 0;
	border: 2px solid #343a51;
	z-index: 3;
}

.TextBox{
	width: 100%;
	height: 460px;
	overflow: scroll;
	background-color: #dee3e5;
	text-align: center;
}



label{
  color: white;
  font-weight: bold;
  font: 14px Helvetica, Arial;
  background-color: transparent;
  color: white;
}

.typing{
	width: 80px;
  height: 40px;
	left: 20px;
  bottom: 60px;
  float: right;
  position: absolute;
	overflow: scroll;
	text-align: center;
  font-size: 12px;
	font-weight: bold;
	display: block;
}

.topBar{
	width: 100%;
	height: 90px;
	background-color: #343a51;
	input{
		border: 0;
		padding: 10px;
		width: 70%;
		margin-top:22px;
		margin-left: 10px;
		height: 50%;
		margin-right: 0.5%;
		border-radius: 5px;
		font: 16px Helvetica, Arial;
	}
}

#messages {
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		padding: 5px 10px;
		font-size: 14px;
		font-weight: bold;
		opacity: 0;
		transition: all ease 0.3s;
		&.loadText{
			opacity: 1;
		}
	}
	li:nth-child(odd) {
		// background: #eee;
	}
}

.mainBody{
  width: 100%;
  height: 1000px;
  background-color: #dee3e5;
  margin: 0 auto;
}

.box{
	width: 50px;
	height: 50px;
	background-color: #343a51;
	bottom: 0px;
	display: block;
	margin-left: 20px;
	right: 20px;
	position: fixed;
	cursor: pointer;
	border-top-left-radius: 15px 20px;
	h1{
		font-size: 14px;
		text-align: center;
		margin-top: 8px;
		color: white;
		transition: 0.4s;
	}
	h1:hover{
			color: grey;
		}
}

.closebtn{
	color:white;
	float: right;
	margin-top: 24px;
	margin-right: 20px;
	font-size: 30px;
	cursor: pointer;
	transition: 0.2s;
}

.closebtn:hover{
	color: #858889;
	transform: rotate(-90deg);
}

.middle{
  width: 960px;
  height: 1000px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.topBar{
  width: 100%;
  height: 80px;
  overflow: hidden;
  background-color: #343a51;
	ul{
		text-decoration: none;
		list-style-type: none;
		float: right;
		color: white;
		margin-right: 20%;
		margin-top: 23px;
		li{
			text-decoration: none;
			display: inline;
			list-style-type: none;
			a{
				text-decoration: none;
				color: white;
				font: 16px Helvetica, Arial;
				padding-left:30px;
				transition: 0.2s;
				&:hover{
					color:#858889;
				}
			}
		}
	}
}

.title{
	padding-top: 50px;
	padding-left: 50px;
	font-size: 24px;
}

.btn{
  text-decoration: none;
  font-size: 14px;
  padding: 0;
  text-decoration: none;
  border: none;
	float: right;
  color: white;
  background-color: transparent;
  cursor: pointer;
  transition: 0.2s;

}

.btn:hover{
  color: #5d5d5d;
}
